<h1>Hi! Please confirm your email</h1>

<p>
    Please confirm your email address by clicking the link below:<br><br>
<a href="{{ signedUrl }}&id={{ userId }}">Confirm my Email</a>
    This link will expire in 1 hour.
</p>

<p>
    Cheers!<br>
    Your Application Team
</p>